In [1]:
!pip install ipython-sql

%load_ext sql
!env | grep POST
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [2]:
%%sql $CONNECT_DATA
SELECT DISTINCT fare_conditions
FROM Ticket_flights
WHERE flight_id IN (
    SELECT DISTINCT flight_id
    FROM Flights
    WHERE (departure_airport = 'AER' AND arrival_airport = 'SVO')
);

3 rows affected.

[('Business',), ('Comfort',), ('Economy',)]

In [3]:
%%sql $CONNECT_DATA
SELECT model
FROM Aircrafts
WHERE aircraft_code IN (  
    SELECT aircraft_code  
    FROM Flights
    WHERE (arrival_airport = 'ABA' AND arrival_airport = 'YKS')
);

0 rows affected.

[]

In [4]:
%%sql $CONNECT_DATA
SELECT model
FROM Aircrafts
WHERE aircraft_code IN (  
    SELECT aircraft_code  
    FROM Flights
    WHERE (arrival_airport = 'ABA' OR arrival_airport = 'YKS')
);

5 rows affected.

[('Sukhoi Superjet-100',),
 ('Airbus A319-100',),
 ('Boeing 737-300',),
 ('Cessna 208 Caravan',),
 ('Bombardier CRJ-200',)]

In [5]:
%%sql $CONNECT_DATA
SELECT aircraft_code, model
FROM Aircrafts
WHERE aircraft_code IN (  
    SELECT aircraft_code 
    FROM Flights
    WHERE (arrival_airport <> 'YKS')
);

8 rows affected.

[('CN1', 'Cessna 208 Caravan'),
 ('CR2', 'Bombardier CRJ-200'),
 ('773', 'Boeing 777-300'),
 ('763', 'Boeing 767-300'),
 ('319', 'Airbus A319-100'),
 ('733', 'Boeing 737-300'),
 ('SU9', 'Sukhoi Superjet-100'),
 ('321', 'Airbus A321-200')]

In [6]:
%%sql $CONNECT_DATA
SELECT arrival_airport, departure_airport
FROM Flights
WHERE flight_no IN (  
    SELECT flight_no 
    FROM Ticket_flights
    WHERE ticket_no IN (  
        SELECT ticket_no
        FROM Tickets
        WHERE (passenger_name = 'ELLA DMITRIEVA')
    )
)
LIMIT 20;

(psycopg2.errors.SyntaxError) syntax error at or near ";"
LINE 9:         WHERE passenger_name = 'ELLA DMITRIEVA';
                                                       ^

[SQL: SELECT arrival_airport, departure_airport
FROM Flights
WHERE flight_no IN (
    SELECT flight_no
    FROM Ticket_flights
    WHERE ticket_no IN (
        SELECT ticket_no
        FROM Tickets
        WHERE passenger_name = 'ELLA DMITRIEVA';
    )
);]
(Background on this error at: https://sqlalche.me/e/20/f405)